body {
    background: rgb(120, 120, 230);
    font: normal 15pt Arial;
}

header {
    color: rgb(255, 192, 241);
    text-align: center;
    text-decoration: underline;
}

section {
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
    background: aquamarine;
    width: 358px;
}

section > div > input#fnum, section > div > select#flista {
    background: rgb(255, 255, 165);
}

section > div > input#fnum {
    width: 50px;
}

select#flista {
    height: 200px;
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

footer > p > span.ano {
    color: rgb(255, 192, 241);
}